@use 'helpers' as *;

:root {
    --border-primary-subdued-10: #E9E9E9;
    --text-primary-subdued-40: #E5D1B3;
    --text-accent-subdued-40: #A8A8A8;
    --text-accent-subdued-20: #D4D4D4;
    --bg-terteriary-subdued-60: #F6F3EF;
    --bg-accent-subdued-80: #CCA267;

    --color-graphite: #262626;
    --color-white: #FFFFFF;
    --color-pearl-bush: #E8E1D7;
    --color-tussock: #BF8B41;

}